<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.widgetkit-extension</string>
    </dict>
    
    <key>CFBundleDisplayName</key>
    <string>随身拜-木鱼功德</string>
    
    <key>CFBundleIdentifier</key>
    <string>com.xumengzhang.WoodFishApp.WoodFishWidgetExtension</string>
    
    <key>NSSupportsLiveActivities</key>
    <true/>
    
    <!-- 确保共享字体文件可访问 -->
    <key>UIAppFonts</key>
    <array>
        <string>SourceHanSerifCN-Heavy.otf</string>
    </array>
    
    <key>NSExtensionAttributes</key>
    <dict>
        <key>NSExtensionActivationRule</key>
        <string>TRUEPREDICATE</string>
    </dict>
</dict>
</plist>